html, body, #root {
  
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;

  width: 100%;
  height: 100%;
  padding: 0;
  background-color: #F8FAF9;
}