main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background: url('/src/assets/eucalyptus-silver-dollar-white-marble-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header {
  color: #7F9C97;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding-left: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

p {
  font-size: 1.2rem;
}

h2 {
  margin-bottom: 1px;
}

.date {
  font-size: 0.9rem;
  padding: 5px;
  margin-top: 2px;
}

.calender {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  margin-right: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  margin-top: 20px;
}

input:focus {
  border-color: rgb(127, 156, 151);
  box-shadow: 0 0 5px rgba(127, 156, 151, 0.5);
}

ul {
  list-style-type: none;
  padding: 1rem;
  border-radius: 8px;
} 

&.done {
  text-decoration: line-through;
  color: #7F9C97;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  background-color: white;
  padding-left: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 5px;
}

li button {
    background-color: transparent;
    color: #7F9C97;
}

input[type="checkbox"] {
  display: none;
}

.checkMark {
  width: 16px;
  height: 16px;
  border: 2px solid #7F9C97;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
  vertical-align: middle;
  cursor: pointer;
}

input[type="checkbox"]:checked + .checkMark {
  background-color: #7F9C97;
  border-color: #7F9C97;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #7F9C97;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 0.5rem;
}